/* The general style*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Decoration of top section -- NAVBAR */
header nav {
  margin-bottom: 2px;
}

.top-section-list-content {
  display: flex;
  justify-content: flex-end;
}

.top-section-list-content-item {
  margin: 18px 16px 12px 16px;
}

.top-section-list-container {
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: black;
}

.top-section-icon {
  margin: 0 10px;
}

.top-section-arrow-icon {
  align-self: flex-end;
  margin-left: 8px;
}

/* Decoration of bottom section -- NAVBAR */

.bottom-section {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.bottom-section-logo {
  padding: 10px;
}

.bottom-section-options {
  display: flex;
  align-items: center;
}

.bottom-section-options-container {
  display: flex;
}

.bottom-section-options-container ul {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom-section-item-option {
  margin: 0 16px;
}

.bottom-section-item-container {
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #9E989A;
}

.bottom-section-item-container img {
  align-self: flex-end;
  margin-left: 10px;
}

/* Decoration of bottom section -- button --NAVBAR */

.bottom-section-button-option {
  display: flex;
  align-items: center;
  background-color: #F34F37;
  font-family: 'Nunito', sans-serif;
  height: 40px;
  padding: 12px 24px;
  border-radius: 3px;
  margin: 0 10px 0 30px;
  min-width: 190px;
}

.bottom-section-button-option p {
  color: white;
  text-align: center;
}

/* Styling Section One */
/* Styling Left Section One */

.section-one-container-div {
  background-image: url('./../img/estrellas-2.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 125px;
  padding-bottom: 25px;
  background-color: #e6f2f8;
  margin: auto;
  width: 100%;
}

.section-one-container-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* max-height: 591px; */
}

.section-one-content-one {
  /* border: darkcyan solid; Esto solo es para proabr */
  width: 46.5%;
  min-width: 580px;
  padding-top: 25px;
  padding-left: 54px;
  height: 591px;
}

.section-one-content-one-title-black {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size: 54px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin: 0 0 20px;
}

.section-one-content-one-title-blue {
  color: #34768a;
}

.section-one-content-one-image img {
  position: relative;
  left: 45.2%;
  bottom: 52px; 

}

.section-one-content-one-paragraph {
  color: #140c28;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.section-one-content-one-image-description {
  position: relative;
  bottom: 106px;
  text-align: right;
  line-height: 20px;
  font-family: 'Nunito';
  font-weight:700;
  letter-spacing: -0.7px;
  width: 292px;
}

.description-founder {
  color: #34768a;
}


/* Styling Right Section One */

.section-one-content-two {
  width: 53.5%;
  min-width: 400px;
}

.section-one-content-form {
  margin: 0 auto;
  padding: 0 20px 20px;
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 9px 10px 0 rgb(0 0 0 / 12%);
  width: 400px;
}

.section-one-content-two-title-form {
  font-family: 'Nunito';
  font-size: 22px;
  line-height: normal;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 0.2px;
}

.form-inner-container {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Nunito';
  width: auto;
}

.form-input-container {
  font-family: 'Nunito';
}

.form-input {
  display: inline-block;
  min-height: 40px;
  width: 100%;
  line-height: 1.8;
  padding: 6px 12px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-width: 0 0 1px;
  border-radius: 0;
  font-size: 18px;
  font-weight: 400;
}

.country-select {
  display: inline-block;
  font-weight: 200;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-width: 0 0 1px;
  font-family: 'Nunito';
  font-size: 18px;
  color: #706b6d;
  width: 100%;
  line-height: normal;
  min-height: 40px;
  cursor: pointer;
}

.box-checker-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Nunito';
  font-size: 16px;
  height: min-content;
  overflow: hidden;
  text-align: center;
}

.box-checked {
  width: 50%;
  height: 42px;
  background-color: #fafbfd;
  color: #706b6d;
  border-color: #edf0f4;
  border-right: none;
  border-radius: 4px 0 0 4px;
  border: 1 solid #D0D0D0;
}

.input-check-box {
  display: none;
  cursor: pointer;
}

.check-box-text {
  text-align: center;
  display: block;
  font-size: 18px;
  cursor: pointer;
  padding: 8px 16px;
}

/* Number input */
.box-number-container {
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito';
  text-align: center;
}

.first-number-container {
  display: block;
  width: 80px;
  background-color: #fafbfd;
  color: #706b6d;
  cursor: not-allowed;
  border-color: #ccc;
  min-height: 40px;
  line-height: 1.8;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-width: 0 0 1px;
  border-radius: 0;
  font-size: 18px;
  font-weight: 400;
  float: left;
  
}

.second-number-container {
  display: block;
  width: 60%;
  color: #706b6d;
  min-height: 40px;
  line-height: 1.8;
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-width: 0 0 1px;
  font-size: 18px;
  font-weight: 400;
}

.button-form-container {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Nunito';
  width: auto;
  margin: 0 0 20px;
}

.form-button {
  cursor: auto;
  padding: 0 20px;
  font-size: 18px;
  font-family: 'Nunito';
  background-color: #f34f36;
  border-radius: 5px;
  color: #fff;
  margin-top: 1.5%;
  min-height: 48px;
  text-transform: initial;
  border-width: 0 0 1px;
  font-weight: 400;
  line-height: normal;
  border: 0;
}

/* Styling the second section */

.section-two-container {
  display: block;
  margin: 0 auto;
  max-width: 1240px;
  padding: 75px 0;
}

.section-two-top-container {
  display: block;
}

.section-two-main-title {
  color: black;
  font-family: 'Nunito';
  font-size: 30px;
  letter-spacing: 0;
  width: auto;
  text-align: center;
  margin-bottom: 25px;
}

.section-two-main-title span {
  color: #34768a;
}

.section-two-second-title {
  color: #706b6d;
  font-family: 'Nunito';
  font-weight: 200;
  font-size: 18px;
  width: auto;
  text-align: center;
}

.section-two-bottom-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 37px;
}

.section-two-image-container {
  width: 25%;
  min-width: 236px;
  text-align: center;
  padding: 10px;
}

.section-two-image-container figure {
  height: 185px;
  padding: 10px;
  margin: 0 0 20px;
}

.figcaption-black {
  color: #333333;
  font-family: 'Nunito';
  font-size: 25px;
  line-height: 26px;
  margin: 0 0 20px;
}

.figcaption-blue {
  color: #34768A;
}

.section-three-container {
  padding: 75px 0;
  background-color: #e6f2f8;
  margin: 0 auto;
  width: 100%;
}

.section-three-content {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.section-three-title-description-container {
  margin-bottom: 50px;
}

.section-three-main-title-black {
  color: #140C28;
  font-size: 30px;
  font-family: 'Nunito';
  font-weight: 700;
  text-align: center;
  line-height: 35px;
  margin-bottom: 30px;
}

.section-three-main-title-blue {
  color: #34768A;
}

.section-three-second-title {
  color: #70686D;
  font-size: 18px;
  font-family: 'Nunito';
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  margin-bottom: 10px;
}

.section-three-utility-container {
  display: flex;
  flex-wrap: wrap;
}

.section-three-utility-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding: 0 7.5px;
}

.image-utility {
  margin-bottom: 20px;
  padding: 10px;
}

.image-utility img {
  height: 175px;
  width: 165px;
  max-width: unset;
  margin: 0 auto;
  vertical-align: middle;
  border: 0;
}

.utility-description {
  height: 140px;
  padding: 10px;
  margin: auto 0;
}

.utility-description h3 {
  margin-bottom: 10px;
  color: #140c28;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;
}

.utility-description p {
  margin-bottom: 10px;
  color: #70686D;
  font-family: 'Nunito';
  font-size: 16px;
  line-height: 22px;
}

.utility-description a {
  color: #34768A;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
}

.utility-description p {
  margin-bottom: 10px;
  color: #70686D;
  font-family: 'Nunito';
  font-size: 16px;
  line-height: 22px;
}

.utility-description a {
  color: #34768A;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
}

/* Styling the Four Section */

.section-four-container {
  background-image: url("./../img/banner-3-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  padding: 75px 0;
  z-index: 100;
}

.section-four-main-title {
  color: white;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 1.1px;
}

.section-four-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12.5px 27.5px;
  width: fit-content;
  text-decoration: none;
  background-color: #F34F36;
  color: white;
  font-family: 'Nunito';
  font-size: 18px;
  line-height: 1;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
}

.section-four-astronaut-image {
  background-image: url("./../img/astrorocket.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 234px;
  position: relative;
  left: 10%;
  bottom: 100px;
  width: 80%;
}

/* Styling the Five Section */

.section-five-container {
  width: 100%;
  margin: 0 auto;
  padding: 75px 0;
}

.section-five-content {
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
  
}

.section-five-title-container {
  margin-bottom: 50px;
}

.section-five-main-title {
  width: 100%;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.section-five-main-title-orange {
  color: #F34F36;
}

.section-five-advantage-container {
  display: flex;
  margin: 0 auto;
  /* flex-wrap: wrap; */
}

.section-five-advantage-grid-container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(8,1fr);
  row-gap: 0;
  column-gap: 0;
  grid-auto-rows: 75px;
  grid-template-areas: 
  "a a a a . . . ."
  "a a a a b b b b"
  ". . . . b b b b"
  "c c c c . . . ."
  "c c c c d d d d"
  ". . . . d d d d"
  "e e e e d d d d"
  "e e e e . . . .";
  margin: 0 7.5% 0 auto;
}

.section-five-advantage {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
 }
 

.advantage-area-a {
  grid-area: a;

}

.advantage-area-b {
  grid-area: b;
}

.advantage-area-c {
  grid-area: c;
}

.advantage-area-d {
  grid-area: d;
}

.advantage-area-e {
  grid-area: e;
}

.section-five-advantage-image {
  display: flex;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  justify-content: center;
  align-content: center;
}

.section-five-advantage-image img {
  display: block;
  border: 0;
  height: 110px;
  width: auto;
  margin: auto;
  
}

.section-five-advantage-description-container {
  padding: 10px;
  padding-left: 22.5%;
}

.section-five-advantage-title-description {
  color: #140c28;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;
  margin-bottom: 20px;
}

.section-five-advantage-purpose {
  display: block;
  position: relative;
  color: #706b6d;
  padding-left: 12.5PX;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 16px;
  list-style-type: 22px;

}

.section-five-advantage-purpose::before {
  content: "";
  border-left: 1px solid #34768a;
  left: 0;
  top: 5px;
  bottom: 0;
  height: 85%;
  width: 1px;
  margin: auto 0;
  display: block;
  position: absolute;
}

.section-five-advantage-person-of-description {
  display: block;
  position: relative;
  top: 5px;
  margin: 5px 0;
  font-size: 14px;
  color: #34768a;
}


/* Styling the Section Six */

.section-six-container {
  background-color: #e6f2f8;
  padding-top: 17.5px;
}

.section-six-content {
  width: 100%;
  max-width: 1125px;
  margin: 0 auto;
}

.section-six-content-flex {
  display: flex;
  flex-wrap: wrap;
}

.section-six-left-content {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 50%;
  max-width: 100%;
  padding: 0 7.5px;
}

.section-six-text-content {
  height: fit-content;
  margin: auto;
}

.section-six-main-title-black {
  color: #140c28;
  text-align: left;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 25px;
}

.section-six-main-title-blue {
  color: #34768a;
}

.section-six-text-description {
  color: #363636;
  text-align: left;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}

.section-six-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  color: white;
  background-color: #F34F36;
  font-family: 'Nunito';
  font-size: 18px;
  line-height: 1;
  padding: 12.5px 27.5px;
  border-radius: 7px;
  transform: scale(1);
}

.section-six-button:hover {
  transform: scale(1.1);
}

.section-six-right-content {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 50%;
  max-width: 100%;
  padding: 0 7.5px;
}

.section-six-image-container {
  display: block;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.section-six-image-container img {
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: 0;
  max-width: unset;
  width: auto;
}

/* Styling the Seven Section */

.section-seven-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.section-seven-box {
  width: 100%;
  max-width: 1000px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.section-seven-main-title-container {
  margin-bottom: 60px;
}

.section-seven-title {
  color: #150d27;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 0.9;
}

.section-seven-questions {
  display: flex;
  flex-direction: column;
  border: 0;
}

.section-seven-question-title-container {
  display: flex;
  font-family: 'Nunito';
  font-size: 17.5px;
  font-weight: 500;
  line-height: 1.2;
  padding: 25px 0 25px 22.5px;
  padding-left: 50px;
  text-align: left;
  width: 100%;
}

.section-seven-question-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  text-align: left;
  overflow-anchor: none;
  color: #150d27;
  box-shadow: none;
  width: 100%;
  font-family: 'Nunito';
  font-style: normal;
  border: 0;
  position: relative;
  cursor: pointer;
}

.section-seven-question-title {
  font-family: 'Nunito';
  font-style: normal;
  font-size: 20px;
  line-height: 125.1%;
  font-weight: 700;
  margin-right: auto;
}

/* Styling the Section Three */

