/* The general style*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Decoration of top section -- NAVBAR */
.top-section-list-content {
  display: flex;
  justify-content: flex-end;
}

.top-section-list-content-item {
  margin: 20px 16px 12px 16px;
}

.top-section-list-container {
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 15px;
  font-family: 'Nunito Sans', sans-serif;
  color: black;
}

.top-section-icon {
  margin: 0 10px;
}

.top-section-arrow-icon {
  align-self: flex-end;
  margin-left: 8px;
}

/* Decoration of bottom section -- NAVBAR */

.bottom-section {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.bottom-section-logo {
  padding: 10px;
}

.bottom-section-options {
  display: flex;
  align-items: center;
}

.bottom-section-options-container {
  display: flex;
}

.bottom-section-options-container ul {
  display: flex;
  align-self: center;
}

.bottom-section-item-option {
  margin: 0 16px;
}

.bottom-section-item-container {
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #9E989A;
}

.bottom-section-item-container img {
  align-self: flex-end;
  margin-left: 10px;
}

/* Decoration of bottom section -- button --NAVBAR */

.bottom-section-button-option {
  display: flex;
  align-items: center;
  background-color: #F34F37;
  font-family: 'Nunito Sans', sans-serif;
  height: 40px;
  padding: 12px 24px;
  border-radius: 3px;
  margin: 0 10px 0 30px;
  min-width: 190px;
}

.bottom-section-button-option p {
  color: white;
  text-align: center;
}

/* Styling the Section Six */

.section-six-container {
  background-color: #e6f2f8;
  padding-top: 17.5px;
}

.section-six-content {
  width: 100%;
  max-width: 1125px;
  margin: 0 auto;
}

.section-six-content-flex {
  display: flex;
  flex-wrap: wrap;
}

.section-six-left-content {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 50%;
  max-width: 100%;
  padding: 0 7.5px;
}

.section-six-text-content {
  height: fit-content;
  margin: auto;
}

.section-six-main-title-black {
  color: #140c28;
  text-align: left;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 25px;
}

.section-six-main-title-blue {
  color: #34768a;
}

.section-six-text-description {
  color: #363636;
  text-align: left;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}

.section-six-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  color: white;
  background-color: #F34F36;
  font-family: 'Nunito';
  font-size: 18px;
  line-height: 1;
  padding: 12.5px 27.5px;
  border-radius: 7px;
  transform: scale(1);
}

.section-six-button:hover {
  transform: scale(1.1);
}

.section-six-right-content {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 50%;
  max-width: 100%;
  padding: 0 7.5px;
}

.section-six-image-container {
  display: block;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.section-six-image-container img {
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: 0;
  max-width: unset;
  width: auto;
}
